<?xml version="1.0"?>
<launch>

  <!-- Map server -->
  <arg name="map_file" default="$(find mecanum_robot)/maps/new_map.yaml"/>
  <master auto="start"/>
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>
  
  <!-- AMCL -->
  <include file="$(find mecanum_robot)/launch/amcl.launch"/>

  <!-- move_base -->
  <include file="$(find mecanum_robot)/launch/move_base.launch"/>

  <!-- Rviz for navigation -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mecanum_robot)/rviz/navigation.rviz"/> 

</launch>


